# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
venv/
.venv/
pip-wheel-metadata/
venv/
__pycache__/
*.pyc
.DS_Store


# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# TensorFlow & model checkpoints
checkpoint/
*.h5
# *.tflite
*.ckpt
