# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
.env
.venv
venv/
ENV/
env/
pip-wheel-metadata/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# TensorFlow & model checkpoints
checkpoint/
*.h5
*.tflite
*.ckpt
